body {
    background-color: #282c37;
    text-align: center;
}

img.avatar {
    border: solid 5px #2b90d9;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin-top: 5%;
}

h1 {
    margin-top: 10px;
    margin-bottom: 0;
    color: #ffffff;
}

.font-ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.font-notosansjp {
    font-family: 'Noto Sans JP', sans-serif;
}

.text-primary {
    color: #9baec8;
}

.englishname {
    font-size: 22px;
    color: #d9e1e8;
    margin-bottom: 10px;
}

.altname {
    font-size: 15px;
}

.aboutme {
    font-size: 17px;
}

.old_and_src, .old_and_src > a {
    color: #9baec8;
    margin-top: 20px;
    margin-bottom: 3px;
}

a.old_and_src {
    text-decoration: underline;
}

.copyright {
    margin-top: 0;
    margin-bottom: 10px;
}