body{
    background-color:#282c37;
    text-align: center;
}
img.avatar {
    border: solid 5px #2b90d9;
    border-radius: 50%;
    width:  180px;
    height: 180px;
    margin-top: 5%;
}
h1{
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'Noto Sans JP', sans-serif;
    color: #ffffff;
}
.englishname{
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    color: #d9e1e8;
    margin-bottom: 10px;
}
.altname{
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    color: #9baec8;
}
.aboutme{
    font-size: 17px;
    font-family: 'Noto Sans JP', sans-serif;
    color: #9baec8;
}

a.old_and_src{
    font-family: 'Ubuntu', sans-serif;
    color: #9baec8;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 3px;
}

.copyright{
    font-family: 'Ubuntu', sans-serif;
    color: #9baec8;
    margin-top: 0px;
    margin-bottom: 10px;
}